@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iranSans/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('../fonts/iranSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/iranSans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
body {
background: #4DC1C1!important;
}
a{
  text-decoration: none;
  color: black;
}

.category a li:hover{
  background: #fdcb6e;
}
